
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Need to add a select to change address, might need to add notes for a shipment. 

  <div class="field">
    <%= f.label :shipped_at %><br />
    <%= f.datetime_select :shipped_at %>
  </div>
  <div class="field">
    <%= f.label :tracking %><br />
    <%= f.text_field :tracking %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.object.number %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.object.state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
