<p id="notice"><%= notice %></p>

<div  id='order-items' 
      class='span-16 rounded-10 line_item_blue float-left'>
          Number:   <%= @order.number %><br/>
          Name:     <%= @order.name %><br/>
          Email:    <%= @order.email %><br/>
          Completed at: <%= @order.completed_at ? I18n.localize(@order.completed_at, :format => :us_time) : '' %><br/>
          Shipped:  <%= @order.has_shipment? ? 'No' : 'Yes' %><br/>
</div>
<br/>

<% if @order.order_items.size > 0 %>

  <div  id='order-items' 
        class='span-8 rounded-10 line_item_blue float-left'>
            <% @order.order_items.each do |item| %>
              <%= item.variant.product_name %> <%= number_to_currency item.price %><br/>
            <% end %>
  </div>
  
<% end %>

<div  id='order-address' 
      class='span-8 rounded-10 line_item_green float-left'>
          <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %>
          <br>
          <p><%= link_to 'Change Address', admin_history_order_addresses_path(@order) %> <br>
          (This will not change the shipments that have already been placed)</p>
</div>

  
  <br/>

  <b>Invoices:</b>
<div class='column'>
  <b>Shipments:</b>
  <% @order.shipments.each do |shipment| %>
      <div  id='order-shipment-items' 
            class='span-7 rounded-10 <%= cycle("line_item_yellow", "line_item_gray") %>'>
          State: <%= shipment.state.humanize %> <br/>  
          Shipping Method: <%= shipment.shipping_method.name %> <br/>
          Shipping #: <%= shipment.number %> Tracking:<%= shipment.tracking %> 
      </div>
  <% end %>
  
</div>
<br/><br/>
not sure if we want to edit order hmmm... <br/>

<%= link_to 'Edit', edit_admin_history_order_path(@order) %> |
<%= link_to 'Back', admin_history_orders_path %>
