<h1>Listing return_authorizations</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Amount</th>
    <th>Restocking fee</th>
    <th>Order</th>
    <th>State</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @return_authorizations.each do |return_authorization| %>
  <tr>
    <td><%= return_authorization.number %></td>
    <td><%= return_authorization.amount %></td>
    <td><%= return_authorization.restocking_fee %></td>
    <td><%= return_authorization.order_id %></td>
    <td><%= return_authorization.state %></td>
    <td><%= return_authorization.created_by %></td>
    <td><%= link_to 'Show', return_authorization %></td>
    <td><%= link_to 'Edit', edit_return_authorization_path(return_authorization) %></td>
    <td><%= link_to 'Destroy', return_authorization, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Return authorization', new_return_authorization_path %>
