<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @return_authorization.number %>
</p>

<p>
  <b>Amount:</b>
  <%= @return_authorization.amount %>
</p>

<p>
  <b>Restocking fee:</b>
  <%= @return_authorization.restocking_fee %>
</p>

<p>
  <b>Order:</b>
  <%= @return_authorization.order_id %>
</p>

<p>
  <b>State:</b>
  <%= @return_authorization.state %>
</p>

<p>
  <b>Created by:</b>
  <%= @return_authorization.created_by %>
</p>


<%= link_to 'Edit', edit_return_authorization_path(@return_authorization) %> |
<%= link_to 'Back', return_authorizations_path %>
