<h2> Login </h2> 

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


