<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @admin_order_user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @admin_order_user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @admin_order_user.email %>
</p>

<p>
  <b>Birth date:</b>
  <%= @admin_order_user.birth_date %>
</p>


<%= link_to 'Edit', edit_admin_order_user_path(@admin_order_user) %> |
<%= link_to 'Back', admin_order_users_path %>
