<% content_for :head do -%>
  <%= stylesheet_link_tag 'compiled/tables.css' %>
<% end %>
<div id='order-wrapper' class='span-24'>
  <div class='span-14'>
    <h1>Order Summary</h1>
    
    <div id='order-items-summary'>
      <% i = 1 %>
      <% @order.order_items.group_by(&:variant_id).each do |variant_id, items| %>
        <div id='order-item-<%= i %>'>
          <%= render :partial => 'order_item', :locals => {:items => items } %>
        </div>
        <% i += 1 %>
      <% end %>
    </div>
    
    <div id='final-order-shipping-address' class='box span-6' style='text-align:left;'>
      <h5>Shipping Address</h5>
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %>
      <%= link_to 'Change address', shopping_addresses_path, :class => 'button green' %>
    </div>
    <div id='final-order-shipping-address' class='box span-6' style='text-align:left;'>
      <h5>Billing Address</h5>
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.bill_address} %>
    </div>
  </div>
  <div class='pretty_table span-10 last'>
    <table>
      <thead>
        <tr class='odd'>
          <th class='column1_header'>
            Item <span class='ss_sprite ss_application_cascade'></span>
          
          </th><th>Price:</th><th>Price + Tax</th>
        </tr>
      </thead>
      <% @order.order_items.each do |item| %>
        <tr class='<%= cycle("odd", "")%> '>
          <td><%= item.variant.product.name %></td><td><%= item.price %></td><td><%= item.total %></td>
        </tr>
      <% end %>
      <tr class='odd'>
        <td></td><td>Sub-total:</td><td><%= @order.sub_total %></td>
      </tr>
      <tr>
        <td></td><td>Shipping Charges:</td><td><%= @order.shipping_charges %></td>
      </tr>
      <tfoot>
        <tr class='even'>
          <td></td><td>Total:</td><td><em><%= @order.total %></em></td>
        </tr>
      </tfoot>
    </table>
    <%= semantic_form_for(@order, :url  => shopping_order_path(@order), 
                                  :as   => :order, 
                                  :id   => 'purchase_order') do |f| %>
                                  
                                  CREDIT CARD STUFF
      <%= f.submit 'Complete Order', :class => 'button light' %>
    <% end %>
  </div>
</div>

