
  <% if @return_authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@return_authorization.errors.count, "error") %> prohibited this return_authorization from being saved:</h2>

      <ul>
      <% @return_authorization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :restocking_fee %><br />
    <%= f.text_field :restocking_fee %>
  </div>
  
  <div class="field">
    <%= f.fields_for :comments do |comment_form|%>
      <%= comment_form.label :note %><br />
      <%= comment_form.text_area :note, :class => 'span-8' %>
      <%= comment_form.hidden_field :user_id %>
      <%= comment_form.hidden_field :created_by %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
