<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @return_authorization.number %>
</p>

<p>
  <b>Amount:</b>
  <%= @return_authorization.amount %>
</p>

<p>
  <b>Restocking fee:</b>
  <%= @return_authorization.restocking_fee %>
</p>

<p>
  <b>State:</b>
  <%= @return_authorization.state %>
</p>

<%= link_to 'Edit', edit_admin_rma_order_return_authorization_path(@order, @return_authorization) %> |
<%= link_to 'All RMAs for this Order.', admin_rma_order_return_authorizations_path(@order) %>
