<h1>Pick a Shipping Method</h1>


<ul>
  <% @order_items.each do |item| %>
    <li class='<%= cycle("line_item_yellow", "line_item_gray") -%>'>
      <%= image_tag(item.variant.product.images.first.photo.url(:mini)) %>
      <%= item.variant.product.name %> <%= item.variant.sku %> Quantity: <%= item.quantity %>
      <% item.variant.product.available_shipping_rates.each do |shipping_rate| %>
        <div> <%= shipping_rate.name_with_rate %> </div>
      <% end %>
    </li>
  <% end %>
</ul>


