
<% content_for :head do -%>
  <%= javascript_include_tag 'admin/merchandise_product' %>
<% end %>

<fieldset id="admin-product-names" class='span-12'>
  <div class='span-3'>
    <%= form.label :name %>
  </div>
  <div class='span-6 last'>
    <%= form.text_field :name %>
  </div>
<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :description %>
  </div>
  <div class='span-6 last'>
    <%= form.text_area :description %>
  </div>

</fieldset>



<fieldset id="admin-product-properties" class='span-12'>
  <legend>Properties</legend>
  
  <div id='select-product-prototype'>
    <% select_prototypes = [] << Prototype.new %>
    Prototype: <%= select_tag "select-prototype", 
                              options_from_collection_for_select(select_prototypes + @prototypes, 'id', 'name'),
                              {'data-product_id' => @product.id } %>
  </div>
  
  <div id="product_properties" class='span-12 last'>
    <%= render  :partial    => "/admin/merchandise/property_form", 
                :locals     => { :form => form, :parent => @product } %>
  </div>

</fieldset>


